<h1>Songs</h1>

<%= link_to 'Create Song', "songs/new" %>
<br>

<table>
<tbody>
<% @songs.each do |song| %>
<tr>
    <td> <%= link_to song.title, song_path(song) %> </td>
    <td> <%= link_to 'Delete', song, method: :delete %> </td>
</tr>
<% end %>
</tbody>
</table>

