<h1>All Songs</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Release year</th>
    </tr>
    </thead> 

    <tbody>
    <% @songs.each do |song|%>
    <tr> 
        <td><%= link_to song.title, song_path(song)%> </td>
        <td><%= song.artist_name%> </td>
        <td><%= song.genre%> </td>
        <td><%if song.released == true%> <%=song.release_year%> 
            <%else%> N/A 
            <%end%>
        </td>
    </tr>
    <%end%>
    </tbody> 

</table>